*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: grid;
    place-items: center;
    max-height: 100vh;
}


/* HOME PAGE STYLING */
.homeDiv{
    display: grid;
    place-items: center;
}

.logo{
    height: 300px;
}

.imgScanner{
    width: 310px;
    height: 450px;
    background-color: gray;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
}

.scanBtn{
    margin-top: 25px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    border: 1px solid #2D3250;
    background-color: #2D3250;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

/* SCAN PAGE STYLING */

.scanDiv{
    display: grid;
    place-items: center;
}

.scanImage{
    width: 310px;
    height: 450px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 150px;
}

.warning{
    font-size: 1rem;
    margin-top: 100px;
    color: red;
}

/* RESULTS PAGE STYLING */
.resultsDiv{
    display: grid;
    place-items: center;
}

.results-images{
    display: grid;
    row-gap: 40px;
    margin-top: 60px;
}

.image{
    width: 300px;
    height: 300px;
}
