*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: grid;
    place-items: center;
    max-height: 100vh;
}


/* HOME PAGE STYLING */
.homeDiv{
    display: grid;
    place-items: center;
}

.logo{
    height: 250px;
}

/* image scanner */
.imgScanner{
    width: 250px;
    height: 350px;
    background-color: gray;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
}

.dp{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}



/* scan button */
.scanBtn{
    margin-top: 30px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    border: 1px solid #2D3250;
    background-color: #2D3250;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

/* SCAN PAGE STYLING */

.scanDiv{
    display: grid;
    place-items: center;
}

.scanImage{
    width: 310px;
    height: 450px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 150px;
}

.warning{
    font-size: 0.8rem;
}

/* RESULTS PAGE STYLING */
.resultsDiv{
    display: grid;
    place-items: center;
}

.results-images{
    display: grid;
    row-gap: 40px;
    margin-top: 60px;
}



/* EQUIPMENT PAGE STYLING */
.cards-div{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 100px;
    column-gap: 100px;
    margin-top: 50px;
}

.card{
    height: 200px;
    width: 250px;
    background-color: black;
}

.e-heading{
    text-align: center;
}

.eqimage{
    height: 200px;
    width: 250px;
    cursor: pointer;
    
}

.eqimage:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

/* PROGRESS VISUALIZATION STYLING */
.progress-card-div{
    display: grid;
    place-items: center;
    row-gap: 50px;
    margin-top: 80px;
}

.prog-card{
    width: 290px;
    height: 200px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
}

.prog-card:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

.proimage{
    height: 200px;
    width: 150px;
}

.propara{
    color: white;
    text-align: center;
    margin: auto;
}

.proheading{
    text-align: center;
}

/* FINAL PAGE STYLING */
.final-pg-div{
    text-align: center;
    display: grid;
    place-items: center;
}

.des{
    margin-top: 50px;
    font-weight: bold;
}

/* body image style */
.bodyimage{
    width: 270px;
    height: 320px;
    margin-top: 80px;
}

/* final button */
.finalbtn{
    margin-top: 90px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    border: 1px solid #2D3250;
    background-color: #2D3250;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}